In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt = pd.read_csv('E:/Project/AL/Data/Combine/bkt_predict.txt', sep = '\t')

In [3]:
random = pd.read_csv('E:/Project/AL/Data/Combine/random_predict.txt', sep = '\t')

In [4]:
streak = pd.read_csv('E:/Project/AL/Data/Combine/streak_predict.txt', sep = '\t')

In [5]:
revise = pd.read_csv('E:/Project/AL/Data/Combine/revise_predict.txt', sep = '\t')

### How many KCs in each model

In [6]:
# Dictionary for mapping
dic = {'BKT': bkt, 'Random': random, 'Streak': streak, 'Revised BKT': revise}

In [7]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [8]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     BKT  Random  Streak  Revised BKT
AD JCommTable4.R0C0  184     450     755          174
AD JCommTable4.R1C0  194     452     689          165
AD JCommTable5.R0C0  220     541     756          192
AD JCommTable5.R1C0  201     493     699          183
AD JCommTable6.R0C0  323     607     878          317
AD JCommTable6.R1C0  317     689     947          299
AD JCommTable8.R0C0  166     420     671          149
AD done              196     448     738          176
AS JCommTable4.R0C0   15      21       4           17
AS JCommTable4.R1C0   14      26      30           18
AS JCommTable5.R0C0    9      11       3            7
AS JCommTable5.R1C0    7       7       9            7
AS JCommTable6.R0C0  136     328     278          125
AS JCommTable6.R1C0  121     317     266          105
AS JCommTable8.R0C0   38      57      49           41
AS done              123     319     264          107
M  JCommTable4.R0C0   13      23      65           18
M  JCommTable4.R1C0   58      89     128           55
M  JCommTable5.R0C0    9       5      22            8
M  JCommTable5.R1C0   37      63      25           38
M  JCommTable6.R0C0  483    1242     509          481
M  JCommTable6.R1C0  490    1246     502          487
M  JCommTable8.R0C0   44      48      47           41
M  done              491    1238     501          501

In [9]:
# selected
numberKC(dic, 'KC (Selected)')

                  BKT  Random  Streak  Revised BKT
JCommTable4.R0C0  212     494     824          209
JCommTable4.R1C0  266     567     847          238
JCommTable5.R0C0  238     557     781          207
JCommTable5.R1C0  245     563     733          228
JCommTable6.R0C0  942    2177    1665          923
JCommTable6.R1C0  928    2252    1715          891
JCommTable8.R0C0  248     525     767          231
done              810    2005    1503          784

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [10]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [11]:
findMaxOppPreKC(bkt)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       6.133333    30  5.563486e-01    30
AD JCommTable4.R1C0                       6.466667    30  6.449583e-01    30
AD JCommTable5.R0C0                       7.333333    30  5.171320e-01    30
AD JCommTable5.R1C0                       6.700000    30  5.733713e-01    30
AD JCommTable6.R0C0                      10.766667    30  4.403629e-01    30
AD JCommTable6.R1C0                      10.566667    30  4.135227e-01    30
AD JCommTable8.R0C0                       5.533333    30  7.865404e-01    30
AD done                                   6.533333    30  8.057804e-01    30
AS JCommTable4.R0C0                       1.250000    12  1.027582e-09    12
AS JCommTable4.R1C0                       1.166667    12  1.655367e-12    12
AS JCommTable5.R0C0                       1.125000     8  1.788296e-08     8
AS JCommTable5.R1C0                       1.166667     6  1.599197e-08     6
AS JCommTable6.R0C0                       4.533333    30  5.760300e-01    30
AS JCommTable6.R1C0                       4.033333    30  5.827129e-01    30
AS JCommTable8.R0C0                       1.357143    28  1.390951e-15    28
AS done                                   4.100000    30  9.290154e-01    30
M  JCommTable4.R0C0                       1.181818    11  1.140533e-14    11
M  JCommTable4.R1C0                       2.000000    29  8.590855e-16    29
M  JCommTable5.R0C0                       1.125000     8  2.138556e-09     8
M  JCommTable5.R1C0                       2.176471    17  9.405739e-15    17
M  JCommTable6.R0C0                      16.100000    30  8.754304e-01    30
M  JCommTable6.R1C0                      16.333333    30  9.209458e-01    30
M  JCommTable8.R0C0                       1.466667    30  2.115114e-15    30
M  done                                  16.366667    30  9.956781e-01    30

In [12]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      15.000000    30  9.400394e-01    30
AD JCommTable4.R1C0                      15.066667    30  9.843925e-01    30
AD JCommTable5.R0C0                      18.033333    30  9.128168e-01    30
AD JCommTable5.R1C0                      16.433333    30  9.232358e-01    30
AD JCommTable6.R0C0                      20.233333    30  7.418813e-01    30
AD JCommTable6.R1C0                      22.966667    30  7.805884e-01    30
AD JCommTable8.R0C0                      14.000000    30  9.996225e-01    30
AD done                                  14.933333    30  9.995931e-01    30
AS JCommTable4.R0C0                       1.500000    14  1.062012e-09    14
AS JCommTable4.R1C0                       1.368421    19  1.669109e-12    19
AS JCommTable5.R0C0                       1.571429     7  1.990786e-08     7
AS JCommTable5.R1C0                       1.000000     7  1.383032e-08     7
AS JCommTable6.R0C0                      10.933333    30  9.836178e-01    30
AS JCommTable6.R1C0                      10.566667    30  9.930108e-01    30
AS JCommTable8.R0C0                       1.900000    30  1.595787e-15    30
AS done                                  10.633333    30  9.999179e-01    30
M  JCommTable4.R0C0                       1.533333    15  1.421485e-14    15
M  JCommTable4.R1C0                       3.178571    28  9.071347e-16    28
M  JCommTable5.R0C0                       1.250000     4  2.341971e-09     4
M  JCommTable5.R1C0                       2.863636    22  9.805942e-15    22
M  JCommTable6.R0C0                      41.400000    30  9.995412e-01    30
M  JCommTable6.R1C0                      41.533333    30  9.998241e-01    30
M  JCommTable8.R0C0                       1.655172    29  2.314265e-15    29
M  done                                  41.266667    30  1.000000e+00    30

In [13]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      25.166667    30  9.890989e-01    30
AD JCommTable4.R1C0                      22.966667    30  9.954073e-01    30
AD JCommTable5.R0C0                      25.200000    30  9.678532e-01    30
AD JCommTable5.R1C0                      23.300000    30  9.685047e-01    30
AD JCommTable6.R0C0                      29.266667    30  8.804822e-01    30
AD JCommTable6.R1C0                      31.566667    30  8.898023e-01    30
AD JCommTable8.R0C0                      22.366667    30  9.998819e-01    30
AD done                                  24.600000    30  9.999605e-01    30
AS JCommTable4.R0C0                       1.000000     4  1.529234e-09     4
AS JCommTable4.R1C0                       1.428571    21  1.798616e-12    21
AS JCommTable5.R0C0                       1.000000     3  2.228235e-08     3
AS JCommTable5.R1C0                       1.800000     5  1.804899e-08     5
AS JCommTable6.R0C0                       9.266667    30  9.194950e-01    30
AS JCommTable6.R1C0                       8.866667    30  9.424411e-01    30
AS JCommTable8.R0C0                       1.633333    30  1.719876e-15    30
AS done                                   8.800000    30  9.965144e-01    30
M  JCommTable4.R0C0                       2.407407    27  1.478715e-14    27
M  JCommTable4.R1C0                       4.266667    30  1.032826e-15    30
M  JCommTable5.R0C0                       1.294118    17  2.756986e-09    17
M  JCommTable5.R1C0                       1.388889    18  1.232544e-14    18
M  JCommTable6.R0C0                      16.966667    30  9.093276e-01    30
M  JCommTable6.R1C0                      16.733333    30  9.385443e-01    30
M  JCommTable8.R0C0                       1.566667    30  2.592190e-15    30
M  done                                  16.700000    30  9.960616e-01    30

In [14]:
findMaxOppPreKC(revise)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       5.800000    30  5.471949e-01    30
AD JCommTable4.R1C0                       5.500000    30  5.951867e-01    30
AD JCommTable5.R0C0                       6.400000    30  4.782522e-01    30
AD JCommTable5.R1C0                       6.100000    30  5.494748e-01    30
AD JCommTable6.R0C0                      10.566667    30  4.322738e-01    30
AD JCommTable6.R1C0                       9.966667    30  3.954662e-01    30
AD JCommTable8.R0C0                       4.966667    30  7.697914e-01    30
AD done                                   5.866667    30  7.936184e-01    30
AS JCommTable4.R0C0                       1.416667    12  9.162320e-10    12
AS JCommTable4.R1C0                       1.200000    15  1.497129e-12    15
AS JCommTable5.R0C0                       1.166667     6  1.779003e-08     6
AS JCommTable5.R1C0                       1.000000     7  1.435426e-08     7
AS JCommTable6.R0C0                       4.166667    30  5.199909e-01    30
AS JCommTable6.R1C0                       3.500000    30  5.042999e-01    30
AS JCommTable8.R0C0                       1.413793    29  1.349945e-15    29
AS done                                   3.566667    30  8.966210e-01    30
M  JCommTable4.R0C0                       1.200000    15  1.160500e-14    15
M  JCommTable4.R1C0                       1.896552    29  8.233192e-16    29
M  JCommTable5.R0C0                       2.000000     4  1.765435e-09     4
M  JCommTable5.R1C0                       1.809524    21  9.810579e-15    21
M  JCommTable6.R0C0                      16.033333    30  8.541087e-01    30
M  JCommTable6.R1C0                      16.233333    30  9.010365e-01    30
M  JCommTable8.R0C0                       1.518519    27  2.054945e-15    27
M  done                                  16.700000    30  9.783382e-01    30

### How many questions each type were given to each student in each model

In [15]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [16]:
ptypeNumEachStudentConcat(dic)

                    BKT  Random     Streak  Revised BKT
Problem Type
AD             4.466667      14  11.066667     4.066667
AS             3.200000      10   5.700000     2.866667
M             12.000000      40  12.933333    12.233333