In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt_default = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseBKT/Predict/bkt_default_predict.txt', sep = '\t')

In [3]:
bkt_human = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseBKT/Predict/bkt_human_predict.txt', sep = '\t')

In [4]:
bkt_random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseBKT/Predict/bkt_random_predict.txt', sep = '\t')

In [5]:
random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseBKT/Predict/random_predict.txt', sep = '\t')

In [6]:
streak = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseBKT/Predict/streak_predict.txt', sep = '\t')

### How many KCs in each model

In [7]:
# Dictionary for mapping
dic = {'Default BKT': bkt_default, 'BKT (human-parameters)': bkt_human, 'BKT (random_parameters)': bkt_random, 'Random': random, 'Streak': streak}

In [8]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [9]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
AD JCommTable4.R0C0,141,198,206,2400,858
AD JCommTable4.R1C0,141,198,206,2401,858
AD JCommTable5.R0C0,141,198,206,2400,858
AD JCommTable5.R1C0,141,198,206,2400,858
AD JCommTable6.R0C0,141,198,206,2401,858
AD JCommTable6.R1C0,141,198,206,2401,858
AD JCommTable8.R0C0,141,198,206,2400,858
AD done,141,198,206,2401,858
AS JCommTable4.R0C0,27,27,26,44,28
AS JCommTable4.R1C0,28,32,28,37,20
AS JCommTable5.R0C0,21,17,17,33,12
AS JCommTable5.R1C0,13,17,17,15,2
AS JCommTable6.R0C0,126,181,221,2400,638
AS JCommTable6.R1C0,126,181,221,2400,638
AS JCommTable8.R0C0,48,61,59,354,170
AS done,126,181,221,2400,638
M JCommTable4.R0C0,24,37,21,32,24
M JCommTable4.R1C0,27,35,31,30,20
M JCommTable5.R0C0,22,28,20,33,16
M JCommTable5.R1C0,16,23,11,21,2
M JCommTable6.R0C0,146,196,189,2400,542
M JCommTable6.R1C0,146,196,189,2400,542
M JCommTable8.R0C0,40,55,49,64,60
M done,146,196,189,2400,542

In [10]:
# selected
numberKC(dic, 'KC (Selected)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
JCommTable4.R0C0,192,262,253,2476,910
JCommTable4.R1C0,196,265,265,2468,898
JCommTable5.R0C0,184,243,243,2466,886
JCommTable5.R1C0,170,238,234,2436,862
JCommTable6.R0C0,413,575,616,7201,2038
JCommTable6.R1C0,413,575,616,7201,2038
JCommTable8.R0C0,229,314,314,2818,1088
done,413,575,616,7201,2038

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [11]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [12]:
findMaxOppPreKC(bkt_default)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       4.700000    30  4.165495e-01    30
AD JCommTable4.R1C0                       4.700000    30  5.641032e-01    30
AD JCommTable5.R0C0                       4.700000    30  3.152810e-01    30
AD JCommTable5.R1C0                       4.700000    30  6.156606e-01    30
AD JCommTable6.R0C0                       4.700000    30  3.966181e-01    30
AD JCommTable6.R1C0                       4.700000    30  3.105599e-01    30
AD JCommTable8.R0C0                       4.700000    30  6.375568e-01    30
AD done                                   4.700000    30  7.572034e-01    30
AS JCommTable4.R0C0                       1.421053    19  4.823311e-22    19
AS JCommTable4.R1C0                       1.555556    18  1.794343e-20    18
AS JCommTable5.R0C0                       1.400000    15  1.082068e-10    15
AS JCommTable5.R1C0                       1.083333    12  6.254610e-08    12
AS JCommTable6.R0C0                       4.200000    30  5.765653e-01    30
AS JCommTable6.R1C0                       4.200000    30  5.317227e-01    30
AS JCommTable8.R0C0                       1.777778    27  8.283208e-73    27
AS done                                   4.200000    30  8.751037e-01    30
M  JCommTable4.R0C0                       1.411765    17  2.957290e-18    17
M  JCommTable4.R1C0                       1.350000    20  5.114754e-20    20
M  JCommTable5.R0C0                       1.157895    19  6.881804e-14    19
M  JCommTable5.R1C0                       1.066667    15  3.561811e-08    15
M  JCommTable6.R0C0                       4.866667    30  5.162270e-01    30
M  JCommTable6.R1C0                       4.866667    30  5.470557e-01    30
M  JCommTable8.R0C0                       1.481481    27  2.633719e-66    27
M  done                                   4.866667    30  8.263804e-01    30

In [13]:
findMaxOppPreKC(bkt_human)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       6.600000    30  6.257977e-01    30
AD JCommTable4.R1C0                       6.600000    30  7.620987e-01    30
AD JCommTable5.R0C0                       6.600000    30  5.170969e-01    30
AD JCommTable5.R1C0                       6.600000    30  8.313856e-01    30
AD JCommTable6.R0C0                       6.600000    30  5.059282e-01    30
AD JCommTable6.R1C0                       6.600000    30  4.113111e-01    30
AD JCommTable8.R0C0                       6.600000    30  7.258383e-01    30
AD done                                   6.600000    30  9.060729e-01    30
AS JCommTable4.R0C0                       1.500000    18  6.662776e-22    18
AS JCommTable4.R1C0                       1.523810    21  2.507017e-20    21
AS JCommTable5.R0C0                       1.133333    15  1.487799e-10    15
AS JCommTable5.R1C0                       1.214286    14  8.931077e-08    14
AS JCommTable6.R0C0                       6.033333    30  6.833240e-01    30
AS JCommTable6.R1C0                       6.033333    30  6.296636e-01    30
AS JCommTable8.R0C0                       2.033333    30  1.193339e-72    30
AS done                                   6.033333    30  9.732004e-01    30
M  JCommTable4.R0C0                       1.608696    23  4.140325e-18    23
M  JCommTable4.R1C0                       1.400000    25  7.120529e-20    25
M  JCommTable5.R0C0                       1.473684    19  9.802670e-14    19
M  JCommTable5.R1C0                       1.095238    21  4.687294e-08    21
M  JCommTable6.R0C0                       6.533333    30  7.223095e-01    30
M  JCommTable6.R1C0                       6.533333    30  6.943774e-01    30
M  JCommTable8.R0C0                       1.833333    30  3.809747e-66    30
M  done                                   6.533333    30  9.637626e-01    30

In [14]:
findMaxOppPreKC(bkt_random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       6.866667    30  5.718137e-01    30
AD JCommTable4.R1C0                       6.866667    30  7.080559e-01    30
AD JCommTable5.R0C0                       6.866667    30  4.713879e-01    30
AD JCommTable5.R1C0                       6.866667    30  7.720077e-01    30
AD JCommTable6.R0C0                       6.866667    30  4.808526e-01    30
AD JCommTable6.R1C0                       6.866667    30  3.884614e-01    30
AD JCommTable8.R0C0                       6.866667    30  7.040138e-01    30
AD done                                   6.866667    30  8.725162e-01    30
AS JCommTable4.R0C0                       1.625000    16  6.053959e-22    16
AS JCommTable4.R1C0                       1.400000    20  2.297569e-20    20
AS JCommTable5.R0C0                       1.307692    13  1.339127e-10    13
AS JCommTable5.R1C0                       1.214286    14  7.938898e-08    14
AS JCommTable6.R0C0                       7.366667    30  6.723615e-01    30
AS JCommTable6.R1C0                       7.366667    30  6.113531e-01    30
AS JCommTable8.R0C0                       2.185185    27  1.072394e-72    27
AS done                                   7.366667    30  9.434168e-01    30
M  JCommTable4.R0C0                       1.400000    15  3.479778e-18    15
M  JCommTable4.R1C0                       1.550000    20  6.781633e-20    20
M  JCommTable5.R0C0                       1.333333    15  8.511375e-14    15
M  JCommTable5.R1C0                       1.000000    11  3.776529e-08    11
M  JCommTable6.R0C0                       6.300000    30  6.699973e-01    30
M  JCommTable6.R1C0                       6.300000    30  6.573004e-01    30
M  JCommTable8.R0C0                       1.814815    27  3.440852e-66    27
M  done                                   6.300000    30  9.314034e-01    30

In [15]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable4.R1C0                      80.033333    30  1.000000e+00    30
AD JCommTable5.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable5.R1C0                      80.000000    30  1.000000e+00    30
AD JCommTable6.R0C0                      80.033333    30  9.782281e-01    30
AD JCommTable6.R1C0                      80.033333    30  9.560007e-01    30
AD JCommTable8.R0C0                      80.000000    30  9.710388e-01    30
AD done                                  80.033333    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.095238    21  1.007559e-21    21
AS JCommTable4.R1C0                       1.480000    25  3.524746e-20    25
AS JCommTable5.R0C0                       1.571429    21  2.219347e-10    21
AS JCommTable5.R1C0                       1.071429    14  1.303104e-07    14
AS JCommTable6.R0C0                      80.000000    30  9.971311e-01    30
AS JCommTable6.R1C0                      80.000000    30  9.483163e-01    30
AS JCommTable8.R0C0                      11.800000    30  1.625480e-72    30
AS done                                  80.000000    30  1.000000e+00    30
M  JCommTable4.R0C0                       1.684211    19  5.589215e-18    19
M  JCommTable4.R1C0                       1.500000    20  9.935253e-20    20
M  JCommTable5.R0C0                       1.650000    20  1.362524e-13    20
M  JCommTable5.R1C0                       1.312500    16  6.637910e-08    16
M  JCommTable6.R0C0                      80.000000    30  1.000000e+00    30
M  JCommTable6.R1C0                      80.000000    30  9.999989e-01    30
M  JCommTable8.R0C0                       2.133333    30  5.189360e-66    30
M  done                                  80.000000    30  1.000000e+00    30

In [16]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      28.600000    30  9.981875e-01    30
AD JCommTable4.R1C0                      28.600000    30  9.996651e-01    30
AD JCommTable5.R0C0                      28.600000    30  9.958530e-01    30
AD JCommTable5.R1C0                      28.600000    30  9.999952e-01    30
AD JCommTable6.R0C0                      28.600000    30  8.190740e-01    30
AD JCommTable6.R1C0                      28.600000    30  7.375056e-01    30
AD JCommTable8.R0C0                      28.600000    30  8.933590e-01    30
AD done                                  28.600000    30  9.999977e-01    30
AS JCommTable4.R0C0                       2.000000    14  1.151932e-21    14
AS JCommTable4.R1C0                       1.333333    15  4.168774e-20    15
AS JCommTable5.R0C0                       1.500000     8  2.379284e-10     8
AS JCommTable5.R1C0                       1.000000     2  1.494140e-07     2
AS JCommTable6.R0C0                      21.266667    30  8.983155e-01    30
AS JCommTable6.R1C0                      21.266667    30  8.092514e-01    30
AS JCommTable8.R0C0                       5.666667    30  1.901333e-72    30
AS done                                  21.266667    30  9.999961e-01    30
M  JCommTable4.R0C0                       1.714286    14  6.634371e-18    14
M  JCommTable4.R1C0                       1.428571    14  1.215638e-19    14
M  JCommTable5.R0C0                       1.777778     9  1.609270e-13     9
M  JCommTable5.R1C0                       1.000000     2  7.259768e-08     2
M  JCommTable6.R0C0                      18.066667    30  9.732885e-01    30
M  JCommTable6.R1C0                      18.066667    30  9.373009e-01    30
M  JCommTable8.R0C0                       2.000000    30  6.070023e-66    30
M  done                                  18.066667    30  9.992510e-01    30

### How many questions each type were given to each student in each model

In [17]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [18]:
ptypeNumEachStudentConcat(dic)

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
Problem Type,,,,,
AD,4.533333,6.500000,6.566667,80,24.600000
AS,4.066667,5.866667,7.133333,80,18.833333
M,4.700000,6.333333,6.066667,80,16.133333