In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt_default = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseKC/Predict/bkt_default_predict.txt', sep = '\t')

In [3]:
bkt_human = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseKC/Predict/bkt_human_predict.txt', sep = '\t')

In [4]:
bkt_random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseKC/Predict/bkt_random_predict.txt', sep = '\t')

In [5]:
random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseKC/Predict/random_predict.txt', sep = '\t')

In [6]:
streak = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_reviseKC/Predict/streak_predict.txt', sep = '\t')

### How many KCs in each model

In [7]:
# Dictionary for mapping
dic = {'Default BKT': bkt_default, 'BKT (human-parameters)': bkt_human, 'BKT (random_parameters)': bkt_random, 'Random': random, 'Streak': streak}

In [8]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [9]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
AD JCommTable4.R0C0,305,409,310,2400,705.0
AD JCommTable4.R1C0,305,409,310,2401,705.0
AD JCommTable5.R0C0,305,409,310,2400,705.0
AD JCommTable5.R1C0,305,409,310,2400,705.0
AD JCommTable6.R0C0,305,409,310,2401,705.0
AD JCommTable6.R1C0,305,409,310,2401,705.0
AD JCommTable8.R0C0,305,409,310,2400,705.0
AD done,305,409,310,2401,705.0
AS JCommTable4.R0C0,23,36,22,44,19.0
AS JCommTable4.R1C0,32,30,35,37,18.0
AS JCommTable5.R0C0,35,25,27,33,11.0
AS JCommTable5.R1C0,13,21,17,15,1.0
AS JCommTable6.R0C0,285,373,306,2400,485.0
AS JCommTable6.R1C0,285,373,306,2400,485.0
AS JCommTable8.R0C0,73,92,77,354,128.0
AS done,285,373,306,2400,485.0
M JCommTable4.R0C0,22,31,30,32,15.0
M JCommTable4.R1C0,30,34,28,30,15.0
M JCommTable5.R0C0,26,31,32,33,7.0
M JCommTable5.R1C0,12,19,18,21,NaN
M JCommTable6.R0C0,251,394,312,2400,420.0
M JCommTable6.R1C0,251,394,312,2400,420.0
M JCommTable8.R0C0,55,56,56,64,59.0
M done,251,394,312,2400,420.0

In [10]:
# selected
numberKC(dic, 'KC (Selected)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
JCommTable4.R0C0,350,476,362,2476,739
JCommTable4.R1C0,367,473,373,2468,738
JCommTable5.R0C0,366,465,369,2466,723
JCommTable5.R1C0,330,449,345,2436,706
JCommTable6.R0C0,841,1176,928,7201,1610
JCommTable6.R1C0,841,1176,928,7201,1610
JCommTable8.R0C0,433,557,443,2818,892
done,841,1176,928,7201,1610

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [11]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [12]:
findMaxOppPreKC(bkt_default)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      10.166667    30  9.017617e-01    30
AD JCommTable4.R1C0                      10.166667    30  9.605387e-01    30
AD JCommTable5.R0C0                      10.166667    30  8.390437e-01    30
AD JCommTable5.R1C0                      10.166667    30  9.868365e-01    30
AD JCommTable6.R0C0                      10.166667    30  5.970175e-01    30
AD JCommTable6.R1C0                      10.166667    30  5.131991e-01    30
AD JCommTable8.R0C0                      10.166667    30  7.954862e-01    30
AD done                                  10.166667    30  9.954019e-01    30
AS JCommTable4.R0C0                       1.533333    15  1.516644e-13    15
AS JCommTable4.R1C0                       1.454545    22  3.943112e-17    22
AS JCommTable5.R0C0                       1.750000    20  1.864640e-11    20
AS JCommTable5.R1C0                       1.300000    10  2.977485e-10    10
AS JCommTable6.R0C0                       9.500000    30  7.699129e-01    30
AS JCommTable6.R1C0                       9.500000    30  7.125256e-01    30
AS JCommTable8.R0C0                       2.433333    30  0.000000e+00    30
AS done                                   9.500000    30  9.900416e-01    30
M  JCommTable4.R0C0                       1.157895    19  5.609731e-11    19
M  JCommTable4.R1C0                       1.304348    23  4.001080e-12    23
M  JCommTable5.R0C0                       1.529412    17  5.549796e-11    17
M  JCommTable5.R1C0                       1.000000    12  2.893482e-10    12
M  JCommTable6.R0C0                       8.366667    30  8.227571e-01    30
M  JCommTable6.R1C0                       8.366667    30  8.074137e-01    30
M  JCommTable8.R0C0                       1.833333    30  0.000000e+00    30
M  done                                   8.366667    30  9.822262e-01    30

In [13]:
findMaxOppPreKC(bkt_human)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      13.633333    30  9.644704e-01    30
AD JCommTable4.R1C0                      13.633333    30  9.879462e-01    30
AD JCommTable5.R0C0                      13.633333    30  9.376210e-01    30
AD JCommTable5.R1C0                      13.633333    30  9.972520e-01    30
AD JCommTable6.R0C0                      13.633333    30  6.591868e-01    30
AD JCommTable6.R1C0                      13.633333    30  5.729629e-01    30
AD JCommTable8.R0C0                      13.633333    30  8.265204e-01    30
AD done                                  13.633333    30  9.990960e-01    30
AS JCommTable4.R0C0                       1.894737    19  1.618546e-13    19
AS JCommTable4.R1C0                       1.304348    23  4.291303e-17    23
AS JCommTable5.R0C0                       1.315789    19  2.031404e-11    19
AS JCommTable5.R1C0                       1.312500    16  3.202736e-10    16
AS JCommTable6.R0C0                      12.433333    30  8.197679e-01    30
AS JCommTable6.R1C0                      12.433333    30  7.482320e-01    30
AS JCommTable8.R0C0                       3.066667    30  0.000000e+00    30
AS done                                  12.433333    30  9.985954e-01    30
M  JCommTable4.R0C0                       1.631579    19  5.950126e-11    19
M  JCommTable4.R1C0                       1.307692    26  4.461392e-12    26
M  JCommTable5.R0C0                       1.476190    21  6.423941e-11    21
M  JCommTable5.R1C0                       1.187500    16  3.316311e-10    16
M  JCommTable6.R0C0                      13.133333    30  9.538922e-01    30
M  JCommTable6.R1C0                      13.133333    30  9.214566e-01    30
M  JCommTable8.R0C0                       1.866667    30  0.000000e+00    30
M  done                                  13.133333    30  9.994958e-01    30

In [14]:
findMaxOppPreKC(bkt_random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      10.333333    30  8.980731e-01    30
AD JCommTable4.R1C0                      10.333333    30  9.581446e-01    30
AD JCommTable5.R0C0                      10.333333    30  8.347107e-01    30
AD JCommTable5.R1C0                      10.333333    30  9.849205e-01    30
AD JCommTable6.R0C0                      10.333333    30  5.981475e-01    30
AD JCommTable6.R1C0                      10.333333    30  5.154709e-01    30
AD JCommTable8.R0C0                      10.333333    30  7.943037e-01    30
AD done                                  10.333333    30  9.945955e-01    30
AS JCommTable4.R0C0                       1.294118    17  1.558864e-13    17
AS JCommTable4.R1C0                       1.521739    23  3.954058e-17    23
AS JCommTable5.R0C0                       1.350000    20  1.899183e-11    20
AS JCommTable5.R1C0                       1.307692    13  3.302405e-10    13
AS JCommTable6.R0C0                      10.200000    30  7.781178e-01    30
AS JCommTable6.R1C0                      10.200000    30  7.157681e-01    30
AS JCommTable8.R0C0                       2.566667    30  0.000000e+00    30
AS done                                  10.200000    30  9.941536e-01    30
M  JCommTable4.R0C0                       1.363636    22  5.549063e-11    22
M  JCommTable4.R1C0                       1.272727    22  4.358494e-12    22
M  JCommTable5.R0C0                       1.280000    25  5.820504e-11    25
M  JCommTable5.R1C0                       1.125000    16  3.164296e-10    16
M  JCommTable6.R0C0                      10.400000    30  8.764553e-01    30
M  JCommTable6.R1C0                      10.400000    30  8.519198e-01    30
M  JCommTable8.R0C0                       1.866667    30  0.000000e+00    30
M  done                                  10.400000    30  9.935156e-01    30

In [15]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable4.R1C0                      80.033333    30  1.000000e+00    30
AD JCommTable5.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable5.R1C0                      80.000000    30  1.000000e+00    30
AD JCommTable6.R0C0                      80.033333    30  9.811069e-01    30
AD JCommTable6.R1C0                      80.033333    30  9.555364e-01    30
AD JCommTable8.R0C0                      80.000000    30  9.734336e-01    30
AD done                                  80.033333    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.095238    21  1.608893e-13    21
AS JCommTable4.R1C0                       1.480000    25  4.198806e-17    25
AS JCommTable5.R0C0                       1.571429    21  2.111895e-11    21
AS JCommTable5.R1C0                       1.071429    14  3.162462e-10    14
AS JCommTable6.R0C0                      80.000000    30  9.978444e-01    30
AS JCommTable6.R1C0                      80.000000    30  9.497400e-01    30
AS JCommTable8.R0C0                      11.800000    30  0.000000e+00    30
AS done                                  80.000000    30  1.000000e+00    30
M  JCommTable4.R0C0                       1.684211    19  5.694819e-11    19
M  JCommTable4.R1C0                       1.500000    20  4.325176e-12    20
M  JCommTable5.R0C0                       1.650000    20  6.191004e-11    20
M  JCommTable5.R1C0                       1.312500    16  3.235127e-10    16
M  JCommTable6.R0C0                      80.000000    30  1.000000e+00    30
M  JCommTable6.R1C0                      80.000000    30  1.000000e+00    30
M  JCommTable8.R0C0                       2.133333    30  0.000000e+00    30
M  done                                  80.000000    30  1.000000e+00    30

In [16]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      23.500000    30  9.982386e-01    30
AD JCommTable4.R1C0                      23.500000    30  9.996456e-01    30
AD JCommTable5.R0C0                      23.500000    30  9.963960e-01    30
AD JCommTable5.R1C0                      23.500000    30  9.999797e-01    30
AD JCommTable6.R0C0                      23.500000    30  7.794043e-01    30
AD JCommTable6.R1C0                      23.500000    30  6.966641e-01    30
AD JCommTable8.R0C0                      23.500000    30  8.804252e-01    30
AD done                                  23.500000    30  9.999945e-01    30
AS JCommTable4.R0C0                       1.583333    12  1.792074e-13    12
AS JCommTable4.R1C0                       1.384615    13  4.611465e-17    13
AS JCommTable5.R0C0                       1.571429     7  2.245506e-11     7
AS JCommTable5.R1C0                       1.000000     1  3.183896e-10     1
AS JCommTable6.R0C0                      16.166667    30  8.638850e-01    30
AS JCommTable6.R1C0                      16.166667    30  7.896665e-01    30
AS JCommTable8.R0C0                       4.266667    30  0.000000e+00    30
AS done                                  16.166667    30  9.988822e-01    30
M  JCommTable4.R0C0                       1.250000    12  6.629527e-11    12
M  JCommTable4.R1C0                       1.153846    13  4.661254e-12    13
M  JCommTable5.R0C0                       1.166667     6  7.339710e-11     6
M  JCommTable6.R0C0                      14.000000    30  9.549290e-01    30
M  JCommTable6.R1C0                      14.000000    30  9.309610e-01    30
M  JCommTable8.R0C0                       1.966667    30  0.000000e+00    30
M  done                                  14.000000    30  9.993312e-01    30

### How many questions each type were given to each student in each model

In [17]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [18]:
ptypeNumEachStudentConcat(dic)

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
Problem Type,,,,,
AD,9.500000,12.433333,9.700000,80,20.133333
AS,9.100000,11.633333,9.533333,80,14.200000
M,7.933333,12.233333,9.833333,80,12.900000