In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt_default = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKT_uniqueQuestions/Predict/bkt_default_predict.txt', sep = '\t')

In [3]:
bkt_human = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKT_uniqueQuestions/Predict/bkt_human_predict.txt', sep = '\t')

In [4]:
bkt_random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKT_uniqueQuestions/Predict/bkt_random_predict.txt', sep = '\t')

In [5]:
random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKT_uniqueQuestions/Predict/random_predict.txt', sep = '\t')

In [6]:
streak = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKT_uniqueQuestions/Predict/streak_predict.txt', sep = '\t')

### How many KCs in each model

In [7]:
# Dictionary for mapping
dic = {'Default BKT': bkt_default, 'BKT (human-parameters)': bkt_human, 'BKT (random_parameters)': bkt_random, 'Random': random, 'Streak': streak}

In [8]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [9]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
AD JCommTable4.R0C0,270,384,242,2400,705.0
AD JCommTable4.R1C0,270,384,242,2401,705.0
AD JCommTable5.R0C0,270,384,242,2400,705.0
AD JCommTable5.R1C0,270,384,242,2400,705.0
AD JCommTable6.R0C0,270,384,242,2401,705.0
AD JCommTable6.R1C0,270,384,242,2401,705.0
AD JCommTable8.R0C0,270,384,242,2400,705.0
AD done,270,384,242,2401,705.0
AS JCommTable4.R0C0,10,16,11,44,19.0
AS JCommTable4.R1C0,13,26,29,37,18.0
AS JCommTable5.R0C0,6,8,9,33,11.0
AS JCommTable5.R1C0,1,3,1,15,1.0
AS JCommTable6.R0C0,172,187,150,2400,485.0
AS JCommTable6.R1C0,172,187,150,2400,485.0
AS JCommTable8.R0C0,84,99,76,354,128.0
AS done,172,187,150,2400,485.0
M JCommTable4.R0C0,11,20,8,32,15.0
M JCommTable4.R1C0,16,28,25,30,15.0
M JCommTable5.R0C0,7,8,8,33,7.0
M JCommTable5.R1C0,4,2,2,21,NaN
M JCommTable6.R0C0,182,293,219,2400,420.0
M JCommTable6.R1C0,182,293,219,2400,420.0
M JCommTable8.R0C0,57,65,54,64,59.0
M done,182,293,219,2400,420.0

In [10]:
# selected
numberKC(dic, 'KC (Selected)')

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
JCommTable4.R0C0,291,420,261,2476,739
JCommTable4.R1C0,299,438,296,2468,738
JCommTable5.R0C0,283,400,259,2466,723
JCommTable5.R1C0,275,389,245,2436,706
JCommTable6.R0C0,624,864,611,7201,1610
JCommTable6.R1C0,624,864,611,7201,1610
JCommTable8.R0C0,411,548,372,2818,892
done,624,864,611,7201,1610

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [11]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [12]:
findMaxOppPreKC(bkt_default)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       9.000000    30  8.609054e-01    30
AD JCommTable4.R1C0                       9.000000    30  9.371797e-01    30
AD JCommTable5.R0C0                       9.000000    30  8.024993e-01    30
AD JCommTable5.R1C0                       9.000000    30  9.712656e-01    30
AD JCommTable6.R0C0                       9.000000    30  5.706834e-01    30
AD JCommTable6.R1C0                       9.000000    30  4.984370e-01    30
AD JCommTable8.R0C0                       9.000000    30  8.333484e-01    30
AD done                                   9.000000    30  9.753635e-01    30
AS JCommTable4.R0C0                       1.250000     8  9.353422e-07     8
AS JCommTable4.R1C0                       1.300000    10  1.469771e-06    10
AS JCommTable5.R0C0                       1.500000     4  2.435301e-07     4
AS JCommTable5.R1C0                       1.000000     1  1.704976e-07     1
AS JCommTable6.R0C0                       5.733333    30  6.628390e-01    30
AS JCommTable6.R1C0                       5.733333    30  6.272992e-01    30
AS JCommTable8.R0C0                       2.800000    30  3.385260e-23    30
AS done                                   5.733333    30  9.881097e-01    30
M  JCommTable4.R0C0                       1.222222     9  6.717884e-07     9
M  JCommTable4.R1C0                       1.777778     9  1.544577e-06     9
M  JCommTable5.R0C0                       1.166667     6  2.099987e-07     6
M  JCommTable5.R1C0                       2.000000     2  8.946403e-08     2
M  JCommTable6.R0C0                       6.066667    30  6.977845e-01    30
M  JCommTable6.R1C0                       6.066667    30  7.000436e-01    30
M  JCommTable8.R0C0                       1.900000    30  1.728757e-08    30
M  done                                   6.066667    30  9.740987e-01    30

In [13]:
findMaxOppPreKC(bkt_human)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      12.800000    30  9.643051e-01    30
AD JCommTable4.R1C0                      12.800000    30  9.882408e-01    30
AD JCommTable5.R0C0                      12.800000    30  9.456660e-01    30
AD JCommTable5.R1C0                      12.800000    30  9.982779e-01    30
AD JCommTable6.R0C0                      12.800000    30  6.424637e-01    30
AD JCommTable6.R1C0                      12.800000    30  5.656916e-01    30
AD JCommTable8.R0C0                      12.800000    30  8.591965e-01    30
AD done                                  12.800000    30  9.991551e-01    30
AS JCommTable4.R0C0                       1.230769    13  1.125595e-06    13
AS JCommTable4.R1C0                       1.529412    17  1.792270e-06    17
AS JCommTable5.R0C0                       1.600000     5  2.592190e-07     5
AS JCommTable5.R1C0                       1.000000     3  3.797390e-07     3
AS JCommTable6.R0C0                       6.233333    30  6.980265e-01    30
AS JCommTable6.R1C0                       6.233333    30  6.597397e-01    30
AS JCommTable8.R0C0                       3.300000    30  3.840073e-23    30
AS done                                   6.233333    30  9.955606e-01    30
M  JCommTable4.R0C0                       1.818182    11  7.149216e-07    11
M  JCommTable4.R1C0                       1.647059    17  1.694137e-06    17
M  JCommTable5.R0C0                       1.600000     5  2.300647e-07     5
M  JCommTable5.R1C0                       1.000000     2  2.127678e-07     2
M  JCommTable6.R0C0                       9.766667    30  8.924109e-01    30
M  JCommTable6.R1C0                       9.766667    30  8.411445e-01    30
M  JCommTable8.R0C0                       2.166667    30  1.961017e-08    30
M  done                                   9.766667    30  9.975248e-01    30

In [14]:
findMaxOppPreKC(bkt_random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       8.066667    30  8.149312e-01    30
AD JCommTable4.R1C0                       8.066667    30  9.121383e-01    30
AD JCommTable5.R0C0                       8.066667    30  7.414604e-01    30
AD JCommTable5.R1C0                       8.066667    30  9.582551e-01    30
AD JCommTable6.R0C0                       8.066667    30  5.551415e-01    30
AD JCommTable6.R1C0                       8.066667    30  4.842127e-01    30
AD JCommTable8.R0C0                       8.066667    30  8.288340e-01    30
AD done                                   8.066667    30  9.659146e-01    30
AS JCommTable4.R0C0                       1.222222     9  9.610359e-07     9
AS JCommTable4.R1C0                       1.450000    20  1.586684e-06    20
AS JCommTable5.R0C0                       1.500000     6  2.771225e-07     6
AS JCommTable5.R1C0                       1.000000     1  2.435960e-07     1
AS JCommTable6.R0C0                       5.000000    30  6.474304e-01    30
AS JCommTable6.R1C0                       5.000000    30  6.175778e-01    30
AS JCommTable8.R0C0                       2.533333    30  3.283684e-23    30
AS done                                   5.000000    30  9.899226e-01    30
M  JCommTable4.R0C0                       1.142857     7  5.831746e-07     7
M  JCommTable4.R1C0                       1.388889    18  1.457343e-06    18
M  JCommTable5.R0C0                       1.142857     7  2.260601e-07     7
M  JCommTable5.R1C0                       1.000000     2  1.148861e-07     2
M  JCommTable6.R0C0                       7.300000    30  7.726305e-01    30
M  JCommTable6.R1C0                       7.300000    30  7.437478e-01    30
M  JCommTable8.R0C0                       1.800000    30  1.676885e-08    30
M  done                                   7.300000    30  9.891375e-01    30

In [15]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable4.R1C0                      80.033333    30  1.000000e+00    30
AD JCommTable5.R0C0                      80.000000    30  1.000000e+00    30
AD JCommTable5.R1C0                      80.000000    30  1.000000e+00    30
AD JCommTable6.R0C0                      80.033333    30  9.779038e-01    30
AD JCommTable6.R1C0                      80.033333    30  9.484559e-01    30
AD JCommTable8.R0C0                      80.000000    30  9.595491e-01    30
AD done                                  80.033333    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.095238    21  1.198609e-06    21
AS JCommTable4.R1C0                       1.480000    25  1.980457e-06    25
AS JCommTable5.R0C0                       1.571429    21  3.291660e-07    21
AS JCommTable5.R1C0                       1.071429    14  3.220290e-07    14
AS JCommTable6.R0C0                      80.000000    30  9.976792e-01    30
AS JCommTable6.R1C0                      80.000000    30  9.533332e-01    30
AS JCommTable8.R0C0                      11.800000    30  4.068968e-23    30
AS done                                  80.000000    30  1.000000e+00    30
M  JCommTable4.R0C0                       1.684211    19  7.643357e-07    19
M  JCommTable4.R1C0                       1.500000    20  1.825327e-06    20
M  JCommTable5.R0C0                       1.650000    20  2.696700e-07    20
M  JCommTable5.R1C0                       1.312500    16  1.673232e-07    16
M  JCommTable6.R0C0                      80.000000    30  1.000000e+00    30
M  JCommTable6.R1C0                      80.000000    30  9.999999e-01    30
M  JCommTable8.R0C0                       2.133333    30  2.077907e-08    30
M  done                                  80.000000    30  1.000000e+00    30

In [16]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      23.500000    30  9.981995e-01    30
AD JCommTable4.R1C0                      23.500000    30  9.995933e-01    30
AD JCommTable5.R0C0                      23.500000    30  9.971901e-01    30
AD JCommTable5.R1C0                      23.500000    30  9.999821e-01    30
AD JCommTable6.R0C0                      23.500000    30  7.750829e-01    30
AD JCommTable6.R1C0                      23.500000    30  6.982860e-01    30
AD JCommTable8.R0C0                      23.500000    30  8.994490e-01    30
AD done                                  23.500000    30  9.999943e-01    30
AS JCommTable4.R0C0                       1.583333    12  1.279004e-06    12
AS JCommTable4.R1C0                       1.384615    13  2.078763e-06    13
AS JCommTable5.R0C0                       1.571429     7  3.370744e-07     7
AS JCommTable5.R1C0                       1.000000     1  3.008338e-07     1
AS JCommTable6.R0C0                      16.166667    30  8.364217e-01    30
AS JCommTable6.R1C0                      16.166667    30  7.570819e-01    30
AS JCommTable8.R0C0                       4.266667    30  4.570961e-23    30
AS done                                  16.166667    30  9.997463e-01    30
M  JCommTable4.R0C0                       1.250000    12  8.532131e-07    12
M  JCommTable4.R1C0                       1.153846    13  1.883093e-06    13
M  JCommTable5.R0C0                       1.166667     6  3.087474e-07     6
M  JCommTable6.R0C0                      14.000000    30  9.520771e-01    30
M  JCommTable6.R1C0                      14.000000    30  9.145960e-01    30
M  JCommTable8.R0C0                       1.966667    30  2.334261e-08    30
M  done                                  14.000000    30  9.994340e-01    30

### How many questions each type were given to each student in each model

In [17]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [18]:
ptypeNumEachStudentConcat(dic)

,Default BKT,BKT (human-parameters),BKT (random_parameters),Random,Streak
Problem Type,,,,,
AD,9.000000,12.800000,8.066667,80,20.133333
AS,5.733333,6.233333,5.000000,80,14.200000
M,6.066667,9.766667,7.300000,80,12.900000