In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/bkt_predict.txt', sep = '\t')

In [3]:
random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/random_predict.txt', sep = '\t')

In [4]:
streak = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/streak_predict.txt', sep = '\t')

In [5]:
human = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/human_predict.txt', sep = '\t')

In [6]:
revise = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/revise_predict.txt', sep = '\t')

In [7]:
randomrevise = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/randomrevise_predict.txt', sep = '\t')

### How many KCs in each model

In [8]:
# Dictionary for mapping
dic = {'BKT': bkt, 'Random': random, 'Streak': streak, 'BKT_human': human, 'BKT_human_revise': revise, 'BKT_random_revise': randomrevise}

In [9]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [10]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

,BKT,Random,Streak,BKT_human,BKT_human_revise,BKT_random_revise
AD JCommTable4.R0C0,217,2473,950,263,295,243
AD JCommTable4.R1C0,192,2447,909,236,264,215
AD JCommTable5.R0C0,236,2536,1003,296,313,260
AD JCommTable5.R1C0,206,2456,917,248,278,220
AD JCommTable6.R0C0,324,2797,1068,387,403,323
AD JCommTable6.R1C0,335,3006,1159,414,430,341
AD JCommTable8.R0C0,174,2410,883,209,240,182
AD done,192,2428,965,234,269,206
AS JCommTable4.R0C0,29,45,30,29,20,31
AS JCommTable4.R1C0,34,37,23,27,28,32
AS JCommTable5.R0C0,25,33,12,26,21,21
AS JCommTable5.R1C0,18,15,2,15,13,15
AS JCommTable6.R0C0,224,2474,688,277,263,229
AS JCommTable6.R1C0,212,2474,697,269,247,203
AS JCommTable8.R0C0,60,354,170,66,66,52
AS done,202,2427,643,268,248,205
M JCommTable4.R0C0,30,32,26,28,27,23
M JCommTable4.R1C0,26,30,22,26,26,23
M JCommTable5.R0C0,29,34,17,29,18,15
M JCommTable5.R1C0,17,22,2,17,13,12
M JCommTable6.R0C0,220,2470,584,257,229,195
M JCommTable6.R1C0,229,2451,597,267,241,209
M JCommTable8.R0C0,43,64,60,45,51,46
M done,207,2437,562,236,228,200

In [11]:
# selected
numberKC(dic, 'KC (Selected)')

,BKT,Random,Streak,BKT_human,BKT_human_revise,BKT_random_revise
JCommTable4.R0C0,276,2550,1006,320,342,297
JCommTable4.R1C0,252,2514,954,289,318,270
JCommTable5.R0C0,290,2603,1032,351,352,296
JCommTable5.R1C0,241,2493,921,280,304,247
JCommTable6.R0C0,768,7741,2340,921,895,747
JCommTable6.R1C0,776,7931,2453,950,918,753
JCommTable8.R0C0,277,2828,1113,320,357,280
done,601,7292,2170,738,745,611

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [12]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [13]:
findMaxOppPreKC(bkt)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       7.233333    30  4.723846e-01    30
AD JCommTable4.R1C0                       6.400000    30  6.228090e-01    30
AD JCommTable5.R0C0                       7.866667    30  3.630378e-01    30
AD JCommTable5.R1C0                       6.866667    30  6.814750e-01    30
AD JCommTable6.R0C0                      10.800000    30  4.496009e-01    30
AD JCommTable6.R1C0                      11.166667    30  3.900955e-01    30
AD JCommTable8.R0C0                       5.800000    30  6.714373e-01    30
AD done                                   6.400000    30  6.849642e-01    30
AS JCommTable4.R0C0                       1.260870    23  2.664685e-08    23
AS JCommTable4.R1C0                       1.360000    25  4.999391e-08    25
AS JCommTable5.R0C0                       1.250000    20  1.001243e-07    20
AS JCommTable5.R1C0                       1.125000    16  2.820905e-09    16
AS JCommTable6.R0C0                       7.466667    30  5.928472e-01    30
AS JCommTable6.R1C0                       7.066667    30  5.337187e-01    30
AS JCommTable8.R0C0                       2.000000    30  9.099253e-13    30
AS done                                   6.733333    30  9.177535e-01    30
M  JCommTable4.R0C0                       1.578947    19  5.211025e-08    19
M  JCommTable4.R1C0                       1.238095    21  1.063469e-07    21
M  JCommTable5.R0C0                       1.450000    20  6.770049e-08    20
M  JCommTable5.R1C0                       1.062500    16  1.538174e-08    16
M  JCommTable6.R0C0                       7.333333    30  5.498493e-01    30
M  JCommTable6.R1C0                       7.633333    30  5.420617e-01    30
M  JCommTable8.R0C0                       1.482759    29  3.347695e-09    29
M  done                                   6.900000    30  8.862132e-01    30

In [14]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      82.433333    30  1.000000e+00    30
AD JCommTable4.R1C0                      81.566667    30  1.000000e+00    30
AD JCommTable5.R0C0                      84.533333    30  1.000000e+00    30
AD JCommTable5.R1C0                      81.866667    30  1.000000e+00    30
AD JCommTable6.R0C0                      93.233333    30  9.839323e-01    30
AD JCommTable6.R1C0                     100.200000    30  9.655203e-01    30
AD JCommTable8.R0C0                      80.333333    30  9.676011e-01    30
AD done                                  80.933333    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.142857    21  4.743222e-08    21
AS JCommTable4.R1C0                       1.480000    25  8.742531e-08    25
AS JCommTable5.R0C0                       1.571429    21  1.817483e-07    21
AS JCommTable5.R1C0                       1.071429    14  4.544606e-09    14
AS JCommTable6.R0C0                      82.466667    30  9.968814e-01    30
AS JCommTable6.R1C0                      82.466667    30  9.522385e-01    30
AS JCommTable8.R0C0                      11.800000    30  1.586200e-12    30
AS done                                  80.900000    30  1.000000e+00    30
M  JCommTable4.R0C0                       1.684211    19  8.986617e-08    19
M  JCommTable4.R1C0                       1.500000    20  1.771684e-07    20
M  JCommTable5.R0C0                       1.700000    20  1.155706e-07    20
M  JCommTable5.R1C0                       1.375000    16  2.779067e-08    16
M  JCommTable6.R0C0                      82.333333    30  1.000000e+00    30
M  JCommTable6.R1C0                      81.700000    30  9.999974e-01    30
M  JCommTable8.R0C0                       2.133333    30  5.803596e-09    30
M  done                                  81.233333    30  1.000000e+00    30

In [15]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      31.666667    30  9.939265e-01    30
AD JCommTable4.R1C0                      30.300000    30  9.988394e-01    30
AD JCommTable5.R0C0                      33.433333    30  9.901413e-01    30
AD JCommTable5.R1C0                      30.566667    30  9.999344e-01    30
AD JCommTable6.R0C0                      35.600000    30  8.330129e-01    30
AD JCommTable6.R1C0                      38.633333    30  7.764343e-01    30
AD JCommTable8.R0C0                      29.433333    30  8.927448e-01    30
AD done                                  32.166667    30  9.999439e-01    30
AS JCommTable4.R0C0                       2.142857    14  5.276147e-08    14
AS JCommTable4.R1C0                       1.533333    15  1.028560e-07    15
AS JCommTable5.R0C0                       1.500000     8  1.870543e-07     8
AS JCommTable5.R1C0                       1.000000     2  4.710158e-09     2
AS JCommTable6.R0C0                      22.933333    30  8.839347e-01    30
AS JCommTable6.R1C0                      23.233333    30  7.946429e-01    30
AS JCommTable8.R0C0                       5.666667    30  1.875722e-12    30
AS done                                  21.433333    30  9.999503e-01    30
M  JCommTable4.R0C0                       1.857143    14  1.059299e-07    14
M  JCommTable4.R1C0                       1.571429    14  2.164227e-07    14
M  JCommTable5.R0C0                       1.888889     9  1.301984e-07     9
M  JCommTable5.R1C0                       1.000000     2  2.715506e-08     2
M  JCommTable6.R0C0                      19.466667    30  9.395984e-01    30
M  JCommTable6.R1C0                      19.900000    30  9.102641e-01    30
M  JCommTable8.R0C0                       2.000000    30  6.862899e-09    30
M  done                                  18.733333    30  9.984308e-01    30

In [16]:
findMaxOppPreKC(human)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       8.766667    30  7.641059e-01    30
AD JCommTable4.R1C0                       7.866667    30  9.145734e-01    30
AD JCommTable5.R0C0                       9.866667    30  6.627196e-01    30
AD JCommTable5.R1C0                       8.266667    30  9.582612e-01    30
AD JCommTable6.R0C0                      12.900000    30  6.819042e-01    30
AD JCommTable6.R1C0                      13.800000    30  6.335375e-01    30
AD JCommTable8.R0C0                       6.966667    30  8.144719e-01    30
AD done                                   7.800000    30  9.673085e-01    30
AS JCommTable4.R0C0                       1.450000    20  3.024098e-13    20
AS JCommTable4.R1C0                       1.285714    21  1.431097e-19    21
AS JCommTable5.R0C0                       1.444444    18  4.970944e-15    18
AS JCommTable5.R1C0                       1.071429    14  8.570539e-35    14
AS JCommTable6.R0C0                       9.233333    30  8.864036e-01    30
AS JCommTable6.R1C0                       8.966667    30  7.525463e-01    30
AS JCommTable8.R0C0                       2.200000    30  2.481177e-09    30
AS done                                   8.933333    30  9.774749e-01    30
M  JCommTable4.R0C0                       1.473684    19  1.876980e-15    19
M  JCommTable4.R1C0                       1.238095    21  1.445059e-15    21
M  JCommTable5.R0C0                       1.526316    19  5.785536e-11    19
M  JCommTable5.R1C0                       1.307692    13  5.613899e-18    13
M  JCommTable6.R0C0                       8.566667    30  8.260829e-01    30
M  JCommTable6.R1C0                       8.900000    30  7.380995e-01    30
M  JCommTable8.R0C0                       1.551724    29  3.700009e-09    29
M  done                                   7.866667    30  9.897440e-01    30

In [17]:
findMaxOppPreKC(revise)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       9.833333    30  8.249796e-01    30
AD JCommTable4.R1C0                       8.800000    30  9.233197e-01    30
AD JCommTable5.R0C0                      10.433333    30  8.156019e-01    30
AD JCommTable5.R1C0                       9.266667    30  9.411708e-01    30
AD JCommTable6.R0C0                      13.433333    30  7.269792e-01    30
AD JCommTable6.R1C0                      14.333333    30  6.668414e-01    30
AD JCommTable8.R0C0                       8.000000    30  8.446746e-01    30
AD done                                   8.966667    30  9.666991e-01    30
AS JCommTable4.R0C0                       1.333333    15  1.199207e-34    15
AS JCommTable4.R1C0                       1.400000    20  1.424989e-65    20
AS JCommTable5.R0C0                       1.500000    14  1.395599e-29    14
AS JCommTable5.R1C0                       1.181818    11  8.773871e-13    11
AS JCommTable6.R0C0                       8.766667    30  8.112884e-01    30
AS JCommTable6.R1C0                       8.233333    30  7.606263e-01    30
AS JCommTable8.R0C0                       2.275862    29  3.572828e-10    29
AS done                                   8.266667    30  9.497746e-01    30
M  JCommTable4.R0C0                       1.800000    15  8.794810e-14    15
M  JCommTable4.R1C0                       1.300000    20  2.673087e-37    20
M  JCommTable5.R0C0                       1.384615    13  5.291311e-19    13
M  JCommTable5.R1C0                       1.083333    12  1.056537e-12    12
M  JCommTable6.R0C0                       7.633333    30  7.807448e-01    30
M  JCommTable6.R1C0                       8.033333    30  7.435421e-01    30
M  JCommTable8.R0C0                       1.821429    28  4.898850e-10    28
M  done                                   7.600000    30  9.805056e-01    30

In [18]:
findMaxOppPreKC(randomrevise)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       8.100000    30  6.624036e-01    30
AD JCommTable4.R1C0                       7.166667    30  8.033663e-01    30
AD JCommTable5.R0C0                       8.666667    30  6.707890e-01    30
AD JCommTable5.R1C0                       7.333333    30  8.785771e-01    30
AD JCommTable6.R0C0                      10.766667    30  6.097771e-01    30
AD JCommTable6.R1C0                      11.366667    30  6.425099e-01    30
AD JCommTable8.R0C0                       6.066667    30  7.725078e-01    30
AD done                                   6.866667    30  8.958314e-01    30
AS JCommTable4.R0C0                       1.409091    22  2.930314e-09    22
AS JCommTable4.R1C0                       1.523810    21  2.115301e-09    21
AS JCommTable5.R0C0                       1.400000    15  1.299132e-08    15
AS JCommTable5.R1C0                       1.250000    12  5.751572e-08    12
AS JCommTable6.R0C0                       7.633333    30  7.955934e-01    30
AS JCommTable6.R1C0                       6.766667    30  7.715598e-01    30
AS JCommTable8.R0C0                       1.793103    29  1.555922e-11    29
AS done                                   6.833333    30  9.279554e-01    30
M  JCommTable4.R0C0                       1.352941    17  8.873471e-09    17
M  JCommTable4.R1C0                       1.437500    16  1.297309e-08    16
M  JCommTable5.R0C0                       1.500000    10  7.684082e-08    10
M  JCommTable5.R1C0                       1.200000    10  1.252446e-07    10
M  JCommTable6.R0C0                       6.500000    30  7.108393e-01    30
M  JCommTable6.R1C0                       6.966667    30  6.660831e-01    30
M  JCommTable8.R0C0                       1.703704    27  1.077926e-10    27
M  done                                   6.666667    30  9.035065e-01    30

### How many questions each type were given to each student in each model

In [19]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [20]:
ptypeNumEachStudentConcat(dic)

,BKT,Random,Streak,BKT_human,BKT_human_revise,BKT_random_revise
Problem Type,,,,,,
AD,5.266667,80,24.600000,6.466667,7.333333,5.833333
AS,5.466667,80,18.833333,7.600000,6.966667,5.500000
M,5.766667,80,16.133333,6.633333,6.400000,5.133333